<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel='stylesheet' href='/stylesheets/{{style}}' />

  <!--Bootsrap 4 CDN-->
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/toastr.css">
  <link rel="stylesheet" href="/stylesheets/jquery-confirm.min.css">

  <link rel="stylesheet" href="/stylesheets/basico.css">

  <!--Fontawesome CDN-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">

  <script src="/js/jquery.min.js"></script>
  <script src="/bootstrap/js/popper.min.js"></script>
  <script src="/js/jquery-confirm.min.js"></script>
  <script src="/bootstrap/js/bootstrap.min.js"></script>
  <script src="/js/toastr.min.js"></script>
</head>

<body>
  {{{body}}}
</body>

</html>