<div class="container">
    <h1 class="text-center">Vamos resetar a senha?</h1>

    <form id="esqueceu-senha-js">
        <div class="form-group">
            <label>Nova Senha</label>
            <div class="form-group pass_show">
                <input type="password" class="form-control" id="novaSenha" placeholder="Nova Senha" required>
            </div>
            <label>Confirma Senha</label>
            <div class="form-group pass_show">
                <input type="password" class="form-control" id="confirmSenha" placeholder="Confirma Senha" required>
            </div>

            <input type="hidden" class="form-control" id="token" value="{{token}}">
            <input type="hidden" class="form-control" id="email" value="{{email}}">

        </div>
        <button type="submit" class="btn btn-primary btn-salvar-js">Salvar</button>
    </form>

    <script>
        $(document).ready(function () {
            $('#esqueceu-senha-js').submit(function () {
                if ($('#novaSenha').val() !== $('#confirmSenha').val()) {
                    toastr["error"]("As senhas informadas são diferentes");
                    return false;
                }

                var btnSalvar = $('.btn-salvar-js');
                btnSalvar.attr("disabled", "disabled");

                var vData = {
                    email: $('#email').val(),
                    password: $('#novaSenha').val(),
                    token: $('#token').val()
                };

                $.ajax({
                    url: 'https://testebh.herokuapp.com/users/reset_password',
                    type: 'POST',
                    data: vData,
                    dataType: "json",
                    complete: function (result) {
                        if (result.status != 200) {
                            toastr["error"]("Ocorreu um erro ao resetar a senha!");
                        } else {
                            toastr.options.timeOut = 15;
                            toastr.options.onHidden = function () { location.href = '/login'; };
                            toastr.success("Reset realizado com sucesso.");
                        }

                        btnSalvar.removeAttr("disabled");
                    }
                });

                return false;
            });
        });
    </Script>
</div>
